.button {
  display: inline-block;
  padding: .5rem 1rem;
  color: var(--text-color);
  border-radius: 100px;
  background-color: var(--accent-color);
  transition: background-color var(--time);
}

.button:hover {
  text-decoration: none;
  background-color: var(--acent-color-alt);
}

.button.tiny {
  padding: .25rem .5rem;
  font-size: var(--smaller-body-size);
}